doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include header.pug  
    block content
    include footer.pug
  //script(type='text/javascript', src='/vue/dist/vue.global.prod.js')
